<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Information Retrival</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Search <span class="sr-only">(current)</span></a>
            <a class="navbar-brand" href="#">Documents</a>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="{{ url_for('static',filename='image/search.png') }}" alt="Recipedia Logo"
                 style="height:140px; float:left">
            <h1>Search Engine</h1>
            <small class="text-left">Damascus University ITE Copyright &copy; Information Retrieval 2020</small>
        </div>
    </div>
</div>


<div class="container search-section">
    <div class="row">
        <div class="col">
            <form method="post" action="/search">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter your information need"
                           aria-label="Search"
                           aria-describedby="button-addon2" name="search_input">
                    <div class="input-group-append">
                        <!-- <button class="btn btn-outline-primary" type="submit" id="search">Search</button> -->
                        <input class="btn btn-outline-primary" type="submit" id="search" value="Search">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            {% if result is defined %}
            <H6 class="text-secondary">Did you mean ? : <b>{{speller_query}}</b></H6>
            <br>
            <br>
            <h3 style="text-align: center">Top 10 Retrieved Documents</h3>
            <!-- {{array}} -->
           <table class="table table-hover">
                <thead>
                <tr bgcolor="#c48499">
                    <th><h4>Document Title</h4></th>
                </tr>
                </thead>
                <tbody>
                {% for i in result %}
                <tr>
                    <td>{{i}}</td>
                </tr>
                {% endfor %}
                </p>
                </tbody>
            </table>
            {% else %}
            <p><b>No document result!</b></p>
            {% endif %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</body>

</html>
